{% extends 'layouts/default.njk' %}

{% set title = 'Game Subscriptions' %}

{% block content %}
{# {{ games | dump | safe }} #}

<header>
  <h1>OpenCritic Single Page Game Subscription Services</h1>
</header>

<ul class="subscriptions">

{% for sub in games %}
  <li><a href="/subscription/{{sub.key}}">{{ sub.label }} <span>{{ sub.items.length }}</span></a></li>
{% endfor %}

</ul>

<p>
OpenCritic can be slow to update subscriptions, and unfortunately services themselves don't provide an API to list games. alike03's <a href="https://aligueler.com/SubscriptionInfo/Games/">Subscription Info</a> or <a href="https://www.gamepasscompare.com/games/AllGames">Game Pass Compare</a> may have more up to date lists</a>
</p>

{% endblock %}
